html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

header {
	width: 47em;
	padding: 1.5rem;
	margin: 0;
	display: inline-block;
	background-color: #259f95;
}

h1 {
	color: #fff
}

body {
	margin: 0;

}

p {
	padding: 1.5rem;
	color: #222;
}

.chapter-num {
	margin: 0;
	position: absolute;
	font-size: 0.75rem;
	font-style: italic;
	font-family: "Libre Baskerville", serif;
}

.colon {
	display: none;
}

img {
	width: 100%;
	display: block;
}
